<template>
    <div class="custom-swiper-wrapper" style="background: whitesmoke">
        <div class="image-preview-block">
            <img src="../images/arrowdown.svg" alt="arrow img" @click="selectPrevImg">
            <div class="preview-image" v-for="(image, index) in imagesToShow" :key="index" >
                <img :src="image.img" alt="img" :class="{ active: isActive === image.num }" @click="selectImg(image.num)">

            </div>
            <img src="../images/arrowup.svg" alt="arrow img" @click="selectNextImg" >
        </div>
        <div class="main-image">
            <img :src="images[isActive].img" alt="main img">
        </div>
    </div>
</template>


<script setup lang="ts">

import {ref, reactive, computed} from 'vue'



import img1 from '../images/img1.jpg'
import img2 from '../images/img2.jpg'
import img3 from '../images/img3.jpg'
import img4 from '../images/img4.jpg'
import img5 from '../images/img5.jpg'
import img6 from '../images/img6.jpg'

const images =  reactive([{img: img1, num: 0}, {img: img2, num: 1}, {img:img3, num: 2}, {img: img4, num: 3}, {img: img5, num:4 }, {img: img6, num: 5} ])

const isActive = ref(0)



function selectImg(index){
    isActive.value = index
}
function selectNextImg(){
    if(isActive.value < images.length -1){
        isActive.value++
    }
}
function selectPrevImg(){
        if(isActive.value > 0){
        isActive.value--
    }
}


const imagesToShow = computed(() => {

    // return images

    if(isActive.value == 0){
        return images.slice(0, 4)
    }
    if(isActive.value > 0 && isActive.value < 4){
        return images.slice(0, isActive.value + (4-isActive.value))
    }
    if(isActive.value == 4){
        return images.slice(1, 5)
    }
    if(isActive.value > 4 ){
        return images.slice(isActive.value - 3, isActive.value+1)
    }

})


</script>

<style lang="scss" scoped>


.custom-swiper-wrapper{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
    .image-preview-block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 58px;
        height: 348.819px;
        .preview-image{
            img{
                height: 58px;
                width: 58px;
            }
        }
        img{
            height: 15px;
            width: 15px;
        }
        .active{
            border: 2px solid #dbde08;
        }
    }
    .main-image{
        img{
            max-height: 466px;
            max-width: 472px;
        }
    }
}


</style>
